mat-form-field {
  max-height: 50px;
  margin-top: 10px;
}

.btn-add {
  width: 160px;
  height: 36px;
  background: #165C7D;
  color: #FFFFFF !important;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
