<div class="contenedor-lista">
    <app-cards-home [mostrarHeader]="'true'" [title]="'LISTA DE SALAS'" [isOverflow]="'auto'" [heigthHeader]="'50px'">
        <div class="d-flex justify-content-between align-items-end">
            <div>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Filtro...</mat-label>
                    <input matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
            <button class="btn-add" type="button" mat-button (click)="openDialog()">Add Room</button>
        </div>
        <div class="mat-elevation-z8 mt-3">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- Progress Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="capacity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacidad </th>
                    <td mat-cell *matCellDef="let row"> {{row.capacity}} </td>
                </ng-container>

                <!-- Fruit Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                    <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                </ng-container>

                <ng-container matColumnDef="ubication">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ubicación </th>
                    <td mat-cell *matCellDef="let row"> {{row.ubication}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar </th>
                    <td mat-cell *matCellDef="let row">
                        <span class="text-warning" style="font-size: 30px; cursor: pointer;"
                            (click)="openDialog(row)">
                            <i class="uil uil-edit"></i>
                        </span>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </app-cards-home>
</div>