<div class="grid-container mt-5">
    <mat-grid-list cols="{{( cards | async )![0].generalCols}}" rowHeight="200px" [gutterSize]="'-10px'">
        <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="dashboard-card justify-content-center">
                <mat-card-content class="dashboard-card-content">

                    <div *ngIf="card.title === 'Card 1'" class="bg-image status row">
                        <div class="col-md-12">
                            <div class="d-flex">
                                <i class="uil uil-university"></i>
                                <h1 class="fw-bolder">Bienvenido al Sistema de Reservas de salas</h1>
                            </div>
                            <mat-hint class="fw-bold"><i class="uil uil-slider-h text-warning"></i>A continuacion se te muestran todas
                                las solicitudes pendientes</mat-hint>
                        </div>
                    </div>

                    <div *ngIf="card.title === 'Card 2'" class="d-flex align-items-center justify-content-between">
                        <div class="ripple-container mat-elevation-z4" matRipple>
                            <span class="span-title">50</span>
                            <span class="span-desc">solicitudes pendientes</span>
                        </div>

                        <div class="ripple-container2 mat-elevation-z4" matRipple>
                            <span class="span-title">10/40</span>
                            <span class="span-desc">salas disponibles</span>
                        </div>

                        <button class="btn-add" mat-button routerLink="/bancus/create-reservation" routerLinkActive="active">Realizar reserva</button>
                    </div>

                    <div class="mat-elevation-z8 mt-3" *ngIf="card.title === 'Card 3'">
                        <table mat-table [dataSource]="dataSource" matSort>

                            <!-- Progress Column -->
                            <ng-container matColumnDef="Usuario">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
                                <td mat-cell *matCellDef="let row"> {{row.usrIdentifier}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="Sala">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sala </th>
                                <td mat-cell *matCellDef="let row"> {{row.meetingRoom}} </td>
                            </ng-container>

                            <!-- Fruit Column -->
                            <ng-container matColumnDef="Fecha">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                                <td mat-cell *matCellDef="let row"> {{row.initTime | date}} - {{row.endTime | date}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Personas">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Personas </th>
                                <td mat-cell *matCellDef="let row"> {{row.attendees}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Estado">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                                <td mat-cell *matCellDef="let row"> Pendiente </td>
                            </ng-container>

                            <ng-container matColumnDef="Acciones">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                <td mat-cell *matCellDef="let row">
                                    <span class="text-warning" style="font-size: 30px; cursor: pointer;">
                                        <i class="uil uil-edit"></i>
                                    </span>

                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching</td>
                            </tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                            aria-label="Select page of users"></mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>