<div class="bg-image">
    <div class="container h-100">
        <div class="row h-100 ">
            <mat-grid-list cols="2" rowHeight="2:1.3" class="m-auto">
                <mat-grid-tile class="h-100">
                    <div class="form-login" matRipple [matRippleCentered]="false"
                        [matRippleDisabled]="false" [matRippleUnbounded]="false">
                        <div class="m-5">
                            <p class="greeting">{{greeting}}
                                <img src="/assets/images/sun.svg" alt="">
                            </p>
                            <div class="form-content">
                                <p>
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Fill form field</mat-label>
                                        <input matInput placeholder="Placeholder">
                                    </mat-form-field>
                                </p>
                                <p>
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Outline form field</mat-label>
                                        <input matInput placeholder="Placeholder">
                                    </mat-form-field>
                                </p>
                                <button routerLink="/bancus/home" class="btn-form" mat-button>Ingresar</button>
                            </div>
                        </div>                      
                    </div>
                </mat-grid-tile>               
                <mat-grid-tile class="bg-image-grid"></mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>