<app-cards-home title="Registro de salas" mostrarHeader="true" heigthHeader="50px" isOverflow="auto">
    <form [formGroup]="roomForm" (ngSubmit)="accept()" autocomplete="off">
        <div class="sucursal-data">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <mat-form-field class="clas-form-field" appearance="outline">
                        <mat-label for="nameRoom">Nombre de la Sala: </mat-label>
                        <input matInput type="text" placeholder="ingrese el nombre" id="nameRoom"
                            formControlName="name">
                        <mat-hint class="text-danger">
                            {{ErrorRequiredMsg('name')}}
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-sm-12">
                    <mat-form-field class="clas-form-field" appearance="outline">
                        <mat-label for="capacity">Capacidad de la sala: </mat-label>
                        <input matInput type="number" placeholder="capacity" id="capacity" formControlName="capacity">
                        <mat-hint class="text-danger">
                            {{ErrorRequiredMsg('capacity')}}
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <mat-form-field class="clas-form-field" appearance="outline">
                    <mat-label>Ubicacion
                    </mat-label>
                    <mat-select placeholder="Seleccione la ubicacion" formControlName="ubication" required>
                        <mat-option *ngFor="let u of ubications" [value]="u">
                            {{u}}
                        </mat-option>
                    </mat-select>
                    <mat-hint class="text-danger">
                        {{ErrorRequiredMsg('ubication')}}
                    </mat-hint>
                </mat-form-field>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <mat-form-field class="clas-form-field" appearance="outline">
                    <mat-label for="description">Descripcion de la sala: </mat-label>
                    <textarea matInput id="description" formControlName="description"></textarea>
                    <mat-hint class="text-danger">
                        {{ErrorRequiredMsg('description')}}
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex btn-actions">
                <button class="btn-submit" type="submit" mat-button>
                    Aceptar
                </button>
                <button class="btn-cancel" type="button" mat-button (click)="closeModal(false)">
                    cancelar
                </button>
            </div>
        </div>
    </form>
</app-cards-home>