.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card {
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.dashboard-card-content {
    text-align: center;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    max-height: 100%;
    // margin-bottom: 0 !important;
    width: 100%;
    margin: auto;
}

mat-card{
    top: 50px !important;
    width: 80%;
    height: 80%;
    flex-direction: column;
    display: flex !important;
    padding: 0 !important;
    margin: auto;
}

mat-card-header {
    height: 15%;
    color: #FFFFFF;
    background: #B9975B;
    border-bottom: 1px solid #8C8279;
}

.mat-card-title {
    font-size: 73%;
    margin-bottom: 0;
}

@media screen and (max-width: 1400px) {
    .dashboard-card {
        height: 100% !important;
    }
}

mat-card-title {
    font-size: large !important;
    padding-top: 15px;
    position: relative;
    bottom: 7px;

}

@media screen and (max-width: 960px) {
    mat-card-title {
        font-size: 14px !important;
    }
}