.grid-container {
  margin: 20px;
}

.dashboard-card {
  justify-content: center !important;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: left;
  overflow: auto;
}

  .status > mat-hint {
    margin: 0 20px;
  }

.forms {
  padding: 10px;
}

.form1 {
  margin-right: 10px;
}


.uil-arrow-left{
    font-size: 40px;
    position: relative;
    bottom: 5px;
    color: #185a7d;
}
.fw-bolder{
    color: #185a7d;

}

mat-button-toggle{
    font-size: 0.8rem;
}

mat-button-toggle-group{
    height: 35px;
    margin-left: 10px;
}

.uil-slider-h{
    font-size: 20px;
    margin-left: 20px;
    position: relative;
    top: 3px;
}

::ng-deep .mat-button-toggle-label-content {
    padding: 0 12px;
    position: relative;
    bottom: 7px;
}

.btn-add {
  width: 160px;
  height: 36px;
  background: #165C7D;
  color: #FFFFFF !important;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 20px;
}
