<!-- <div class="row text-center">
  
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  
</div>
<br />


<br /><br /><br />

<h3>
  Edit events
  <button class="btn btn-primary float-end" (click)="addEvent()">
    Add new
  </button>
  <div class="clearfix"></div>
</h3>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Primary color</th>
        <th>Secondary + text color</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Remove</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let event of events">
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.title"
            (keyup)="refresh.next()"
          />
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color!.primary"
            (change)="refresh.next()"
          />
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color!.secondary"
            (change)="refresh.next()"
          />
          <input
            type="color"
            [ngModel]="event.color!.secondaryText ?? '#1e90ff'"
            (ngModelChange)="event.color!.secondaryText = $event"
            (change)="refresh.next()"
          />
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()"
            altInput="true"
            convertModelValue="true"
            enableTime="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.end"
            (ngModelChange)="refresh.next()"
            altInput="true"
            convertModelValue="true"
            enableTime="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteEvent(event)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template> -->


  <div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-grid-list cols="{{( cards | async )![0].generalCols}}" rowHeight="200px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card justify-content-center">
          <mat-card-content class="dashboard-card-content">

            <!--** information -->
            <div *ngIf="card.title === 'Card 1'" class="status row">
                <div class="col-md-7">
                  <div class="d-flex">
                    <i class="uil uil-arrow-left"></i>
                    <h1 class="fw-bolder">Calendario Salas</h1>
                  </div>
                  <mat-hint><i class="uil uil-slider-h text-info"></i> activa</mat-hint>
                  <mat-hint><i class="uil uil-slider-h text-muted"></i> pasada</mat-hint>
                  <mat-hint><i class="uil uil-slider-h text-warning"></i> proxima</mat-hint>
                </div>

                <div class="col-md-5">
                  <h1 class="fw-bolder">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h1>
                </div>
            </div>

            <!--** filters -->
            <div *ngIf="card.title === 'Card 2'" class="d-grid">
              <div class="forms">
                <!-- <mat-form-field class="form1" appearance="outline">
                  <mat-label>Tipo</mat-label>
                  <mat-select>
                    <mat-option value="option">Option</mat-option>
                  </mat-select>
                </mat-form-field> -->
              
                <mat-form-field appearance="outline">
                  <mat-label>Seleccione la sala</mat-label>
                  <mat-select>
                    <mat-option value="option">Option</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="d-flex">
                <div class="col-4">
                  <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
                    <mat-button-toggle style="background-color: #FFC600;" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">Anterior</mat-button-toggle>
                    <mat-button-toggle mwlCalendarToday [(viewDate)]="viewDate" >Hoy</mat-button-toggle>
                    <mat-button-toggle mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">Siguiente</mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
                
                <div class="col-md-4">
                  <mat-button-toggle-group name="type" aria-label="Tipo de calendario">
                    <mat-button-toggle (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">Diario</mat-button-toggle>
                    <mat-button-toggle (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">Semanal</mat-button-toggle>
                    <mat-button-toggle (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">Mensual</mat-button-toggle>
                  </mat-button-toggle-group>
                </div>

                <button class="btn-add" type="button" mat-button>Reservar sala</button>

              </div>
            </div>

            <!--** CALENDARIO -->
            <div [ngSwitch]="view" *ngIf="card.title === 'Card 3'">
              <mwl-calendar-month-view
                *ngSwitchCase="CalendarView.Month"
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                [activeDayIsOpen]="activeDayIsOpen"
                (dayClicked)="dayClicked($event.day)"
                (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)"
              >
              </mwl-calendar-month-view>
              <mwl-calendar-week-view
                *ngSwitchCase="CalendarView.Week"
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)"
              >
              </mwl-calendar-week-view>
              <mwl-calendar-day-view
                *ngSwitchCase="CalendarView.Day"
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)"
              >
              </mwl-calendar-day-view>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>