.grid-container {
  margin: 20px;
}

.dashboard-card {
  justify-content: center !important;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: left;
  overflow: auto;
}

.demo-inline-calendar-card {
  width: 300px;
}
::ng-deep .mdc-evolution-chip-set__chips {
  flex-wrap: nowrap !important;
}

.uil-arrow-left {
  font-size: 40px;
  position: relative;
  bottom: 5px;
  color: #185a7d;
}

.fw-bolder{
    color: #185a7d;

}

mat-hint {
  margin: 10px;
}

.btn-actions {
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
  }
  
  .btn-submit {
    width: 160px;
    height: 36px;
    background: #ffc600;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .btn-cancel {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    width: 160px;
    height: 36px;
    border-radius: 10px;
    margin-right: 10px;
    border: solid 1px #01426a;
    color: #01426a;
  }
