<div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-grid-list cols="{{( cards | async )![0].generalCols}}" rowHeight="5:2" [gutterSize]="'-20px'">
        <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="dashboard-card justify-content-center">
                <mat-card-content class="dashboard-card-content">
                    <!-- {{card.title}} -->
                    <div *ngIf="card.title === 'Card 1'" class="status row">
                        <div class="col-md-7">
                            <div class="d-flex">
                              <i class="uil uil-arrow-left"></i>
                              <h1 class="fw-bolder">Reserva de Salas</h1>
                            </div>
                            <mat-hint><i class="uil uil-slider-h text-info"></i> activa</mat-hint>
                            <mat-hint><i class="uil uil-slider-h text-muted"></i> pasada</mat-hint>
                            <mat-hint><i class="uil uil-slider-h text-warning"></i> proxima</mat-hint>
                          </div>
                    </div>
                    <div *ngIf="card.title === 'Card 3'" class="d-grid justify-content-center">
                        <h2 class="p-0 m-0" class="fw-bolder">Seleccione el dia o el rango de dias</h2>
                        <mat-card class="demo-inline-calendar-card">
                            <mat-calendar></mat-calendar>
                        </mat-card>
                    </div>
                    <div *ngIf="card.title === 'Card 2'" class="d-flex justify-content-around align-items-center">
                        <h2 class="p-0 m-0" class="fw-bolder">Seleccione la hora de inicio</h2>
                        <timepicker [(ngModel)]="selectedTime1" [hourStep]="1" (ngModelChange)="onTimeSelected1($event)">
                        </timepicker>
                    </div>
                    <div *ngIf="card.title === 'Card 4'" class="d-flex justify-content-around align-items-center ">
                        <h2 class="p-0 m-0 fw-bolder" >Seleccione la hora final</h2>
                        <timepicker [(ngModel)]="selectedTime2" [hourStep]="1" (ngModelChange)="onTimeSelected2($event)">
                        </timepicker>
                    </div>

                    <div *ngIf="card.title === 'Card 5'" class="d-flex justify-content-between align-items-center">
                        <h4 class="m-0 fw-bolder">personas</h4>
                        <mat-chip-listbox aria-label="Fish selection" class="overflow-y-auto d-flex flex-nowrap" style="margin-left: 30px;">
                            <mat-chip-option selectable>1 - 4 Personas</mat-chip-option>
                            <mat-chip-option>4 - 8 Personas</mat-chip-option>
                            <mat-chip-option>8 - 12 Personas</mat-chip-option>
                            <mat-chip-option> + 12 Personas</mat-chip-option>
                          </mat-chip-listbox>
                    </div>

                    <div *ngIf="card.title === 'Card 6'" class="d-flex justify-content-between align-items-center">
                        <h4 class="m-0 fw-bolder">sala</h4>
                        <mat-chip-listbox aria-label="Fish selection" class="overflow-y-auto" style="margin-left: 30px;">
                            <mat-chip-option selectable>Ahuachapan</mat-chip-option>
                            <mat-chip-option>Tazumal</mat-chip-option>
                            <mat-chip-option>Torogoz</mat-chip-option>
                            <mat-chip-option>Izote</mat-chip-option>
                            <mat-chip-option>Recreativa</mat-chip-option>
                            <mat-chip-option>Ahuachapan</mat-chip-option>
                          </mat-chip-listbox>
                    </div>

                    <div class="row" *ngIf="card.title === 'Card 7'">
                        <div class="col-md-12 d-flex btn-actions">
                            <button class="btn-submit" type="submit" mat-button>
                                Aceptar
                            </button>
                            <button class="btn-cancel" type="button" mat-button>
                                cancelar
                            </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>