<!-- Toolbar -->
<div class="toolbar" role="banner">
    <span (click)="opened()" style="cursor: pointer;">
        <img width="30" alt="Angular Logo" src="assets/images/hide.svg" />
    </span>
    <img width="140" alt="Angular Logo" src="assets/images/logo.png" />
    <div class="spacer"></div>

    <span routerLink="/auth/login" routerLinkActive="active" style="cursor: pointer;">
        <img width="30" alt="Angular Logo" src="assets/images/exit.svg" />
    </span>
</div>
<aside class="sidebar" [ngClass]="{'sidebar-modified': isOpen}">
    <nav>
        <button routerLink="/bancus/home" routerLinkActive="active">
            <span>
                <img alt="Angular Logo" src="assets/images/home.png" />
                <span>Home</span>
            </span>
        </button>
        <button disabled style="opacity: 0.5;">
            <span>
                <img alt="Angular Logo" src="assets/images/resources.png" />
                <span>Recursos</span><mat-chip [ngClass]="{'mat-chip-soon': isOpen}" color="accent">
                    soon
                  </mat-chip>
            </span>
        </button>
        <button disabled style="opacity: 0.5;">
            <span>
                <img alt="Angular Logo" src="assets/images/users.png" />
                <span>Usuarios</span><mat-chip [ngClass]="{'mat-chip-soon': isOpen}" color="accent">
                    soon
                  </mat-chip>
            </span>
        </button>
        <button routerLink="/bancus/reservation-list" routerLinkActive="active">
            <span>
                <img alt="Angular Logo" src="assets/images/calendar.png" />
                <span>Calendarios Salas</span>
            </span>
        </button>
        <button routerLink="/bancus/create-reservation" routerLinkActive="active">
            <span>
                <img alt="Angular Logo" src="assets/images/reservation.svg" />
                <span>Reservar sala</span>
            </span>
        </button>
        <button routerLink="/bancus/room-list" routerLinkActive="active">
            <span>
                <img alt="Angular Logo" src="assets/images/sala.png" />
                <span>Salas</span>
            </span>
        </button>
        <button>
            <span>
                <img alt="Angular Logo" src="assets/images/info.png" />
                <span>Acerca de</span>
            </span>
        </button>
    </nav>

</aside>
<div style="margin-left: 55px;">
    <router-outlet></router-outlet>
</div>